<h1>
    Feed Page!
    <a href='/feeds/new'>New Feed</a>
</h1>

<% @feeds.each do |f| %>
    <div style='border: 1px solid black;'>
        <a href='feeds/<%= f.id %>' data-method='DELETE'>삭제하기</a>
        <a href='feeds/<%= f.id %>' data-method='GET'>업데이트하기</a>
        Artist: <div><%= f.title %></div>
        Album: <div><%= f.content %></div>
        User: <div><%= f.user.name %></div>
        <form action='feeds/<%= f.id %>/comments' method='POST'>
            <input type='text' name='content'/>
            <button>댓글 작성</button>
        </form>
        <% f.feed_comments.each do |c| %>
            Content: <div><%= c.content %></div>
            User: <div><%= c.user.name %></div>
            <a href='comments/<%= c.id %>' data-method='DELETE'>삭제하기</a>
        <% end %>
    </div>
<% end %>